.service-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 32px;
  margin: auto;
}

.service-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% / 3);
  border: 1px solid #0967d2;
  border-radius: 5px;
  margin: 30px;
  padding: 16px;
}

.bullet-points {
  flex-grow: 1;
  font-family: inherit;
  font-size: 19px;
  text-align: center;
  line-height: 1.2;
  list-style-type: circle;
  list-style-position: inside;
  margin: 0;
  padding: 0;
}

.list-item {
  color: #64748b;
  padding: 8px;
}

.service-name {
  font-family: "Abril Fatface", cursive;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 10px;
  color: #1e293b;
}

.select-button {
  font-size: 14px;
  font-weight: 400;
  font-family: "Roboto";
  color: white;
  border: none;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 6px;
  background-color: #db62eb;
  margin-top: 20px;
  outline: none;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .select-button {
    width: 90px;
    font-size: 16px;
  }
}
