.blog-list {
  width: 70%;
  margin: auto;
  padding-left: 0px;
}

@media (max-width: 1024px) {
  .blog-list {
    width: 95%;
  }
}

.blog-item {
  width: 100%;
  border-bottom: 1px solid #e7e5ea;
  list-style-type: none;
}

.blog-details-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #1e293b;
}

.blog-published-date {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #9aa5b1;
}

.blog-description {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #64748b;
  margin-top: 8px;
}

a {
  color: #007bff; /* Default link color */
  text-decoration: none;
  display: inline-block;
  margin-top: 10px;
}

a:hover {
  text-decoration: underline;
}
